.pokemon-list-item {
  position: relative;
  display: flex;
  width: 175px;
  height: 80px;
  padding: 0px 0px 5px 0px;
  cursor: pointer;
  color: #fff;
  background: #616161;
  border-top: 1px solid #000;
  font-size: 1.4rem;
}

.pokemon-list-item img {
  margin: 20px 9px 0px 7px;
  opacity: 0.6;
  top: 28px;
  transition: all 0.2s ease-in-out;
}

.pokemon-list-item-hover img {
  opacity: 1;
  transform: scale(1.3) rotate(10deg);
}

.pokemon-list-item-selected img {
  margin: 0px;
  opacity: 1;
  transition: translate 1s ease-in-out;
  transform: scale(1.3) translateX(80px) translateY(10px);
}

.pokemon-list-item-selected .pokemon-list-addtl  {
  opacity: 0;
}

.pokemon-list-addtl {
  flex-grow: 1;
}

.pokemon-list-item span {
  display: block;
  padding: 3px;
  background: #000;
  font-family: "Anta", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
}

.pokemon-list-item ul {
  margin: 0;
  padding: 0;
}

.pokemon-list-item li {
  list-style: none;
}

@media only screen and (max-width: 1280px) {
  .pokemon-list-item {
    width: 100%;
  }
  .pokemon-list-item-selected img {
    opacity: 1;
    margin: 0px;
    transition: translate 1s ease-in-out;
    transform: scale(1);
  }
  .pokemon-list-item-selected .pokemon-list-addtl {
    opacity: 1;
  }
}
